#*
 * screw-core - 简洁好用的数据库表结构文档生成工具
 * Copyright © 2020 SanLi (qinggang.zuo@gmail.com)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *#
# #if(${_data.title}) #else 数据库设计文档 #end

#if(${_data.database})
**数据库名：** $!{_data.database}

#end
#if(${_data.version})
**文档版本：** $!{_data.version}

#end
#if(${_data.description})
**文档描述：** $!{_data.description}
#end

| 表名                  | 说明       |
| :---: | :---: |
#foreach($t in $_data.tables)
| [$!{t.tableName}](#$!{t.tableName}) | $!{t.remarks} |
#end
#foreach($t in $_data.tables)

**表名：** <a id="$!{t.tableName}">$!{t.tableName}</a>

**说明：** $!{t.remarks}

**数据列：**

| 序号 | 名称 | 数据类型 | 小数位 | 允许空值 | 主键 | 默认值 | 说明 |
| :---: | :---: | :---: |:---: | :---: | :---: | :---: | :---: |
#foreach($c in $t.columns)
| $!{velocityCount} | $!{c.columnName} | $!{c.columnType} | #if($!{c.decimalDigits})$!{c.decimalDigits}#else 0#end | $!{c.nullable}| $!{c.primaryKey} | $!{c.columnDef} | $!{c.remarks} |
#end
#end
